<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mynyresolutionslist.nexmii.com.mynyresolutionslist">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="mynyresolutionslist.nexmii.com.mynyresolutionslist.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mynyresolutionslist.nexmii.com.mynyresolutionslist.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.activities.StoreActivity"
            android:screenOrientation="portrait"/>
        <!-- This receiver below was the last thing I added -->
        <receiver android:name=".utils.services.AlarmReceiver" />

        <activity
            android:name=".ui.activities.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NotificationSettingsActivity"
            android:label="@string/my_new_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.QuoteDetailActivity"
            android:label="@string/quote_page_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.QuotesAdditionActivity"
            android:label="@string/chest_room"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.WishEditActivity"
            android:label="New Resolution"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.WishDetailActivity"
            android:label="Resolution"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id_actual" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider943432972480202"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>